@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

.inlineCode {
    @apply p-1.5 bg-gray-100 rounded-md font-mono text-gray-800
}
/* purgecss end ignore */

.button {
    @apply px-6 py-3 bg-black text-white border-black border-2 rounded transition ease-in-out duration-75
}

.button:hover {
    @apply bg-white text-black
}

.button:focus{
    @apply outline-none
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 20;
}

.menuButton {
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    top: 12px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

li {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0px;
    position: absolute;
    top: 30%;
    width: 100%;
}

.menu-li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.text-placeholder {
    border-radius: 5px;
    width: 2000px;
    height: 20px;
    flex: 1;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-icon {
    transform: scale(2.2);
    margin: 5px;
}


@tailwind  utilities;